#site-nav{
    position: relative;
}
#main-nav .navbar-brand{
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.git_res{
    display: flex;
    justify-content: center;
}
.resumeHome, .githubHome{
    position: relative;
    border: 1px solid rgba(255, 0, 0, 0);
    display: inline-block;
    width: 25%;
    border-radius: 5px;
    background-color: #bcae60;
    color: ghostwhite;
    margin: 10px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}
.resumeHome:hover{
    color: white;
    background-color: #887a44;
    text-decoration: none;
}
.resumeHome:visited{
    color: #b40034;
}
.githubHome:visited{
    color: #b40034;
}
.githubHome:hover{
    color: white;
    background-color: #887a44;
    text-decoration: none;
}
.foodProjectContainer, .checkersContainer, .sgtContainer{
    border: 1px solid #8d8d8d;
    box-shadow: 5px 5px 5px 1px rgba(205, 205, 205, 0.57);
    text-align: center;
    text-transform: uppercase;
}
.foodProject, .checkersProject, .sgtProject{
    width: 95%;
    margin: 0 auto 25px;
    height: 300px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.foodImg, .checkersImg, .sgtImg{
    display: inline-block;
    width: 65%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: default;
}
.foodDesc, .checkersDesc, .sgtDesc{
    display: inline-block;
    width: 32%;
    height: 100%;
    background-color: rgba(144, 255, 152, 0.48);
    border: 3px ridge rgba(144, 255, 152, 0.48);
    position: relative;
    cursor: default;
}
.foodImg{
    background-image: url("../images/food.png");
}
.foodResource{
    position: absolute;
    bottom: 10px;
}
.checkersImg{
    background-image: url("../images/checkers.png");
}
.checkersResource{
    position: absolute;
    bottom: 10px;
}
.sgtImg{
    background-image: url("../images/sgt.png");
}
.sgtResource{
    position: absolute;
    bottom: 10px;
}
@media only screen and (max-width: 600px){
    .foodImg{
        background-image: url("../images/foodMobile.png");
    }
    .checkersImg{
        background-image: url("../images/checkersMobile.png");
    }
    .sgtImg{
        background-image: url("../images/sgtMobile.png");
    }
}
.foodHeader{
    width: 100%;
}

