#site-nav{
    position: relative;
}
#main-nav .navbar-brand{
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.git_res{
    display: flex;
    justify-content: center;
}
.resumeHome, .githubHome{
    position: relative;
    border: 1px solid rgba(255, 0, 0, 0);
    display: inline-block;
    width: 25%;
    border-radius: 5px;
    background-color: #bcae60;
    color: ghostwhite;
    margin: 10px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}
.resumeHome:hover{
    color: white;
    background-color: #887a44;
    text-decoration: none;
}
.resumeHome:visited{
    color: #b40034;
}
.githubHome:visited{
    color: #b40034;
}
.githubHome:hover{
    color: white;
    background-color: #887a44;
    text-decoration: none;
}
.foodProject{
    width: 100%;
    height: 500px;
}
.foodImg{
    width: 80%;
    height: 400px;
    background-image: url("../images/food.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
}
.foodDesc{
    width: 80%;
    height: 100px;
    background-color: rgba(144, 255, 152, 0.48);
    margin: auto;
}
.checkers{
     width: 100%;
     height: 100px;
 }
.checkersImg{
    display: inline-block;
    width: 49%;
    height: 100px;
    background-color: rgba(255, 0, 0, 0.48);
}
.checkersDesc{
    display: inline-block;
    width: 49%;
    height: 100px;
    background-color: rgba(255, 0, 0, 0.48);
}
.sgt{
    width: 100%;
    height: 100px;
}
.sgtImg{
    display: inline-block;
    width: 49%;
    height: 100px;
    background-color: rgba(255, 0, 0, 0.48);
}
.sgtDesc{
    display: inline-block;
    width: 49%;
    height: 100px;
    background-color: rgba(255, 252, 46, 0.48);
}